<h1>hi</h1>

<form>
  <div>
    <label>Sign</label>
    <input name= "symbol" type= "text">
  </div>

  <div>
    <label>Creature</label>
    <input name="animal" type = "text">
  </div>

  <div>
    <label>Fortune</label>
    <input type = "text">
  </div>

  <button>Submit</button>

</form>
